

.signin-form input {
    height: 40px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.signin-form .field-label {
    margin-bottom: 12px;
}

.signin-form .button {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}